#watchIcon {
  cursor: pointer;
  height: 32px;
}

#watchIcon:hover {
  opacity: 0.7;
}

#myModal {
  height: 500px;
  background-color: red;
  width: 1000px;
  top:15%;
  left: 35%;
  z-index: 10000;
  display: block;
}

#myModal.active {
  display: none;
}
#se_follow_button {
  margin-left: 1rem;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  border: 0;
  font-size: 0.8rem;
  position: relative;
  padding: 0.3rem 1rem;
}

.se_follow {
  background-color: rgb(0, 120, 231);
}

.se_following {
  background-color: rgb(28, 184, 65);
}

.user-card-name #se_follow_button {
  top: -0.4rem;
}